# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
.env
backend/.env
frontend/.env

# Node modules (frontend dependencies)
frontend/node_modules/

# Build output (frontend)
frontend/dist/
frontend/build/

# VSCode / IDE stuff
.vscode/
.idea/

